.tabela, .celula{
    border-collapse: collapse;
}

.linha1 {
    background-color: greenyellow;
}
.linha2 {
    background-color: yellow;
}
.linha3 {
    background-color: orange;
}
.linha4 {
    background-color: orangered;
}

.celula {
    padding: 5px;
}

.active {
    border: 1px solid black;
}

.unactive {
    opacity: 0.6;
}

.tabela {
    margin-top: 22px;
}